*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yekan;
}
@font-face{
    font-family: yekan;
    src: url(../fonts/yekan/IRANYekanWeb.eot);
    src: url(../fonts/yekan/IRANYekanWeb.ttf);
    src: url(../fonts/yekan/IRANYekanWeb.woff);
    src: url(../fonts/yekan/IRANYekanWeb.woff2);

}